@font-face {
    font-family: "Tarkov";
    src: url("../public/static/fonts/Jovanny Lemonad - Bender.otf") format("opentype")
}

main {
    background-color: #000;
    min-height: calc(100vh - 80px);
}

nav {
    min-height: 80px;
}

.nav-link, .dropdown-item {
    font-family: Tarkov, serif;
    letter-spacing: 1px;
    font-size: 20px;
}

.input-group .btn {
    font-family: Tarkov, serif;
    letter-spacing: 1px;
}

.card-title, .card-text {
    font-family: Tarkov, serif;
    letter-spacing: 1px;
}

.item-shortname {
    font-size: 10px;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}