@font-face {
    font-family: "Tarkov";
    src: url("../public/static/fonts/Jovanny Lemonad - Bender.otf") format("opentype")
}

main {
    background-color: #000;
    min-height: calc(100vh - 80px);
}

nav {
    min-height: 80px;
}

.nav-link, .dropdown-item {
    font-family: Tarkov, serif;
    font-size: 20px;
}

.input-group .btn {
    font-family: Tarkov, serif;
}