@font-face {
    font-family: Tarkov;
    src: url('../../server/public/static/fonts/Bender.woff') format(opentype);
}

@font-face {
    font-family: TarkovBold;
    src: url('../../server/public/static/fonts/Bender-Bold.woff') format(opentype);
}

@font-face {
    font-family: TarkovItalic;
    src: url('../../server/public/static/fonts/Jovanny Lemonad - Bender Italic.otf') format(opentype);
}
