$darks: (
    "black": black,
    "black1": #080605,
    "black2": #191919,
    "black3": #121212,
    "black4": #121314,
    "black5": #1e1e1e,
    "black6": #292929,
);

$grays: (
    "gray1": #9ea8ad,
    "gray2": #585d60,
);

$lights: (
    // "white": white,
    "light1": #edebd6,
);

$oranges: (
    "orange1": #ca8a00, // eod edition name tag color
    "orange2": #4d3427, // vital part color
);

$sands: (
    "sand1": #b7ad9c,
);

$blues: (
    "blue1": #284e64, // functional mod color
);

$greens: (
    "green": green,
    "green1": #1f4d2a, // gear mod color
    "green2": #174917, // slot bg color for compitable mod
);

$reds: (
    "red": red,
);