$darks: (
    "black": black,
    "black1": #080605,
    "black2": #191919,
    "black3": #121212,
    "black4": #121314,
    "black5": #1e1e1e,
    "black6": #292929,
);

$grays: (
    "gray1": #9ea8ad,
    "gray2": #585d60,
);

$lights: (
    // "white": white,
    "light1": #edebd6,
);

$oranges: (
    "orange1": #ca8a00, // eod edition name tag color
);

$sands: (
    "sand1": #b7ad9c,
);