// border
$border-styles: (
    "none": none,
    "hide": hidden,
    "dot": dotted,
    "dash": dashed,
    "solid": solid,
    "double": double,
    "groove": groove,
    "ridge": ridge,
    "inset": inset,
    "outset": outset,
);

// width
$width-keywords: (
    "max-content": max-content,
    "min-content": min-content,
    "fit-content": fit-content,
    "auto": auto,
);

// text
$text-deco-lines: (
    "none": none,
    "underline": underline,
    "overline": overline,
    "line-through": line-through,
    "blink": blink,
);

$white-spaces: (
    "normal": normal,
    "nowrap": nowrap,
    "pre": pre,
    "pre-wrap": pre-wrap,
    "pre-line": pre-line,
    "break-spaces": break-spaces,
);

// transition
$transition-timing-functions: (
    "ease": ease,
    "ease-in": ease-in,
    "ease-out": ease-out,
    "ease-in-out": ease-in-out,
    "linear": linear,
    "step-start": step-start,
    "step-end": step-end,
);

// cursor
$cursors: (
    "auto": auto,
    "default": default,
    "none": none,
    "context-menu": context-menu,
    "help": help,
    "pointer": pointer,
    "progress": progress,
    "wait": wait,
    "cell": cell,
    "crosshair": crosshair,
    "text": text,
    "vertical-text": vertical-text,
    "alias": alias,
    "copy": copy,
    "move": move,
    "no-drop": no-drop,
    "not-allowed": not-allowed,
    "grab": grab,
    "grabbing": grabbing,
    "all-scroll": all-scroll,
    "col-resize": col-resize,
    "row-resize": row-resize,
    "n-resize": n-resize,
    "e-resize": e-resize,
    "s-resize": s-resize,
    "w-resize": w-resize,
    "ne-resize": ne-resize,
    "nw-resize": nw-resize,
    "se-resize": se-resize,
    "sw-resize": sw-resize,
    "ew-resize": ew-resize,
    "ns-resize": ns-resize,
    "nesw-resize": nesw-resize,
    "nwse-resize": nwse-resize,
    "zoom-in": zoom-in,
    "zoom-out": zoom-out,
)